/* Feuille de style CSS pour la fenêtre du plateau */

#contentBox {
    -fx-background-color: #152247;
}

.gameButton {
    -fx-background-color: #4882bd;
    -fx-text-fill: white;
}

.gameButton:armed {
     -fx-background-color: #00008B;
 }

#timerLabel, #scoreLabel {
    -fx-text-fill: white;
}

.numberHintPane {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.casenoireBleue {
    -fx-background-color:blue;
    -fx-border-color:blue;
  }

.casenoire {
    -fx-background-color:black;
    -fx-border-color:black;
  }
  
  .caseblanche {
    -fx-border-color:black;
  }

.cible-noir {
    -fx-border-color: red;
    -fx-border-width: 3px;
}

.cible-point {
    -fx-border-color: #b268f3;
    -fx-border-width: 3px;
}

.chiffreChemin {
    -fx-font-weight: 800;
    -fx-fill: limegreen;
}
  