* {
   -fx-font-family: Lucida Sans; /* Police inexistante */
}

#puzzlesTilePane Label {
    -fx-text-fill: white;
}

.line {
   -fx-border-color: #e0f0ff;
   -fx-border-width: 1 0 0 1;
}

.split-pane-divider {
   -fx-background-color:  #455685;
}
