* {
   -fx-font-family: Lucida Sans; /* Police inexistante */
}

#puzzlesTilePane Label {
    -fx-text-fill: white;
}

.line {
   -fx-border-color: #e0f0ff;
   -fx-border-width: 1 0 0 1;
}

.viewport {
   -fx-background-color: #152247;
}

TabPane .tab-header-background {
	-fx-background-color: #253257;
}

TabPane .tab {
    -fx-background-insets: 0 1 0 1;
    -fx-background-color: #354267;
}

TabPane .tab-label {
   -fx-text-fill: #e0f0ff;
   -fx-font-size: 13px;
}

TabPane .tab:selected {
    -fx-background-color: #152247;
}

.split-pane-divider {
   -fx-background-color:  #455685;
}
