* {
    -fx-text-fill: white;
}

#titleBar {
    -fx-background-color: #455685;
}

#returnButton {
    -fx-background-color: #4882bd;
    -fx-font-size: 14px;
}

#returnButton:hover {
    -fx-background-color: #5892cd;
}

#titleBar {
    -fx-font-size: 16px;
}
